*.iso
*.xex
*.xbe
*.dll
*.pyc
__pycache__/

*/assets/
*/generated/*/
!*/generated/rexglue.cmake
*/metadata/icons/
*/metadata/gdk_hd/
*/metadata/achievements.toml
*/metadata/*.ico
*/out/
build/
out/

.vs/
.vscode/
*.user
